@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://use.typekit.net/wxh5ury.css');
@import url('https://use.typekit.net/qgr5ebd.css');

html {
  color-scheme: normal !important;
}

body {
  background: none !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  user-select: none;
  overflow: hidden !important;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.toast-inform {
  background-color: #2980b9;
}

.toast-success {
  background-color: #27ae60;
}

.toast-error {
  background-color: #c0392b;
}

.textui {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 5px;
  align-items: center;
}

.textui-keybind {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 25px;
  color: #38a2e5;
  font-weight: 600;
  background-color: rgba(54, 92, 156, 0.381);
  border: 0.2vh solid #4b8ba3ff;
  border-radius: 5px;
  text-shadow: 0 0 5px #4d94af40, 0 0 5px #4d94af40, 0 0 5px #4d94af40, 0 0 5px #4d94af40;
}

.textui-keybind-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 41px;
  background-color: #252934;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.textui-keybind {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 25px;
  padding: 3px;
  height: 25px;
  color: #38a2e5;
  font-weight: 600;
  background-color: rgba(54, 92, 156, 0.381);
  border: 0.2vh solid #4b8ba3ff;
  border-radius: 5px;
  text-shadow: 0 0 5px #4d94af40, 0 0 5px #4d94af40, 0 0 5px #4d94af40, 0 0 5px #4d94af40;
}

.textui-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252934;
  border-radius: 3px;
  margin: 8px;
  padding-left: 10px;
  padding-right: 10px;
  height: 41px;
}

.textui-container::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: #38a2e5; /* Updated color */
  border-radius: 40%;
  box-shadow: 0 0 10px #38a2e5, 0 0 20px #38a2e5; /* Updated color in box-shadow as well */
}

.textui-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  font-size: 18px;
  width: fit-content;
  height: 41px;
  background-color: #252934;
  border-radius: 3px;
}
